* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
}

main {
  flex-grow: 1;
}

.buttons {
  text-align: center;
}

button .text {
  display: none;
}
